@import './global/global-shared';

.loadmore {
  display: inline-block;
  color: #111;
  border: 2px solid #111;
  background-color: transparent;
  text-transform: uppercase;
  padding: 8px 40px;
  cursor: pointer;

  @include main-font(400, 'normal');
  @include hover-focus {
    background-color: #111;
    color: #fff;
  }


}

.loadbox {
  padding: 40px 0;
  text-align: center;
}
