.container {
  text-align: left;
  flex-grow: 1;

  li {
    display: inline-block;
    a {
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      padding: 5px 30px;
    }
  }
}
