@import '../global/shared-helpers';

.container {
  background: #fff;
}

.thumbnail {
  position: relative;
  background: #f2f2f2;

  &::before {
    content: '';
    width: 100%;
    padding-bottom: percentage(154/257);
    display: block;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.title {
  margin-bottom: 10px;

  @include font-size(16);

  &,
  & a {
    color: #222;
  }
}

.content {
  position: relative;
  padding: 10px;
}

.desc {
  margin-bottom: 10px;
}

.category {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid $blue;
  color: $blue;
  border-radius: 3px;

  @include font-size(13);
}

.date {
  position: absolute;
  right: 10px;
  bottom: 10px;

  @include font-size(13);
}
