@mixin font-face($fontName, $fileName, $path, $weight:normal, $style:normal) {
  @font-face {
    font-family: $fontName;
    src:
      url($path+$fileName+'.woff2') format('woff2'),
      url($path+$fileName+'.woff') format('woff'),
      url($path+$fileName+'.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}
