{
  "presets": [
    "react",
    "es2015"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "core": "./.core",
        "src": "./src",
        "components": "./src/app/components",
        "hocs": "./src/app/hocs",
        "images": "./src/app/images",
        "modules": "./src/app/modules",
        "styles": "./src/app/styles",
        "utils": "./src/app/utils"
      }
    }]
  ]
}
