body {
  background-color: rgba(0, 0, 0, 0.05);
  background-image: repeating-linear-gradient(0deg, transparent, transparent 14px, rgba(0, 0, 0, 0.2) 1px, transparent 15px), repeating-linear-gradient(90deg, transparent, transparent 14px, rgba(0, 0, 0, 0.2) 1px, transparent 15px);
  background-size: 15px 15px;
}
